/* styles.css */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
    margin: 8px;
}

#dark-mode-toggle {
    float: right;
}

/* Stil für den Container */
.container {
    display: flex;
    flex-direction: column;
    /* Zeile: Dropdowns nebeneinander ausrichten */
    justify-content: center;
    /* In der Mitte horizontal ausrichten */
    align-items: center;
    /* In der Mitte vertikal ausrichten */
    text-align: center;
    /* Text in der Mitte ausrichten */
    flex-wrap: wrap;
    /* Umbruch bei Bedarf */

}

/* Stil für die Dropdown-Menüs */
.dropdown-container {
    display: flex;
    justify-content: space-evenly;
    /* Nebeneinander ausrichten */
    width: 30%;
    min-width: 165px;
    margin-bottom: 20px;
    /* Abstand zwischen Dropdown-Menüs und Karte */
    margin-right: 20px;
    margin-left: 20px;
}

.map-container {
    width: 80%;
    height: 50%;
    /* Breite der Karte anpassen */
    max-width: 900px;
    /* Maximale Breite für die Karte festlegen */
    border: 2px solid #ccc;
    /* Rahmen um die Karte */
    border-radius: 10px;
    /* Abgerundete Ecken für den Rahmen */
    overflow: hidden;
    /* Verhindert das Herausragen von Inhalten aus dem Rahmen */
    position: relative;
}

.menu-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.select {
    float: left;
}

/* Dunkler Hintergrund und heller Text für den Dark Mode */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Umgekehrte Farben für Links im Dark Mode */
body.dark-mode a {
    color: #66c2ff;
}

/* Ändern Sie die Farben der Dropdown-Menüs im Dark Mode */
body.dark-mode select {
    background-color: #444;
    color: #fff;
}

/* Ändern Sie die Farben der Karte im Dark Mode */
body.dark-mode #map-container {
    border-color: #666;
}