<!DOCTYPE html>
<html>

<head>
    <title>Initials List</title>
</head>

<body>
    <h1>Initials List</h1>
    <ul>
        {% for initials in initials_list %}
        <li><a href="{{ url_for('list_tracks', initials=initials) }}">{{ initials }}</a></li>
        {% endfor %}
    </ul>

    <!-- Refresh-Button -->
    <button onclick="refreshPage()">Refresh</button>

    <script>
        function refreshPage() {
            location.reload(); // Seite neu laden
        }
    </script>
</body>

</html>