<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPX One Pager</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- Dark Mode-Switch -->
    <button id="dark-mode-toggle">Dark Mode</button>
    <button id="reset-filters">Reset</button>

    <h1>GPX One Pager</h1>

    <!-- Container for dropdown menus and map -->
    <div class="container">
        <div class="menu-container">
            <!-- Dropdown-Menu for initials -->
            <div class="select">
                <label for="initials_select">Initials</label>
                <select id="initials_select">
                    <option value="">Choose Initials:</option>
                </select>
            </div>
            <!-- Dropdown-Menu for cars -->
            <div class="select">
                <label for="cars_select">Cars:</label>
                <select id="cars_select">
                    <option value="">Choose a car</option>
                </select>
            </div>
            <div class="timeline">
                <label for="start-date">Startdate:</label>
                <input type="date" id="start-date" name="start-date">
                <label for="end-date">Enddate:</label>
                <input type="date" id="end-date" name="end-date">
                <button id="apply-filters">Confirm</button>
            </div>

        </div>
        <!-- container for map -->
        <div class="map-container">
            {{ map_html|safe }}
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>

</html>