<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPX One Pager</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- Dark Mode-Schalter -->
    <button id="dark-mode-toggle">Dark Mode ein/aus</button>
    <h1>GPX One Pager</h1>

    <!-- Container für die Dropdown-Menüs und die Karte -->
    <div class="container">
        <div class="menu-container">
            <!-- Dropdown-Menü für Initialen -->
            <div class="select">
                <label for="initials_select">Initialen:</label>
                <select id="initials_select">
                    <option value="">Wählen Sie Initialen</option>
                </select>
            </div>
            <!-- Dropdown-Menü für Tracks -->
            <div class="select">
                <label for="tracks_select">Tracks:</label>
                <select id="tracks_select">
                    <option value="">Wählen Sie einen Track</option>
                </select>
            </div>
        </div>
        <!-- Karte (unten) -->
        <div class="map-container">
            {{ map_html|safe }}
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>

</html>